/node_modules
/public/hot
/public/storage
/public/uploads/applications_files/*
!/public/uploads/applications_files/.gitkeep
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
